@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


* {
    font-family: "Open Sans", sans-serif;
}

body {
    color: #ffffff;
    background-color: #02182c;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* 1200 */

@theme {
    --breakpoint-nav-xl: 910px;
    --breakpoint-nav-lg: 850px;
    --breakpoint-nav-md: 550px;


    
}