@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";



:root {
  --main-bg-gradient: linear-gradient(to top, #121e47, #071725);
}

* {
    font-family: "Open Sans", sans-serif;
}

body {
    color: #ffffff;
    background: var(--main-bg-gradient);
    min-height: 100vh;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

@theme {
    --breakpoint-nav-xl: 910px;
    --breakpoint-nav-lg: 850px;
    --breakpoint-nav-md: 550px;

    --breakpoint-hero-xxl: 1550px;
    --breakpoint-hero-xl: 1205px;
    --breakpoint-hero-lg: 865px;
    --breakpoint-hero-md: 630px;
    --breakpoint-hero-sm: 450px;
    
}